<div class="jumbotron text-center" style="margin-bottom:0">
    <h1>Desafio de Programação DevLabs KING</h1>
    <p>Página inicial da pequena aplicação para o DevLabs</p>
</div>

<nav class="navbar bg-dark"></nav>

<div class="container text-center" id="pagina-inicial">
    <div class="row btn-group">
        <div class="col-sm-6">
            <a class="btn btn-secondary" ng-href="/usuarios">LISTAR USUÁRIOS</a>
        </div>
        <div class="col-sm-6">
            <a class="btn btn-dark" ng-href="/cadastro">CADASTRAR USUÁRIOS</a>
        </div>
    </div>
</div>