<div class="container animate-box" data-animate-effect="fadeIn">
    <ul class="list-group">
        <li class="list-group-item">Tipo de Ordem: {{tipoDeOrdem}}</li>
        <li class="list-group-item">Ordem Reversa: {{ordemReversa}}</li>
        <li class="list-group-item">Query de Pesquisa: {{buscarUsuario}}</li>
        <li class="list-group-item">Clique no nome das categorias ou digite para filtrar</li>
    </ul>
    <form class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text"><i class="zmdi zmdi-search"></i></div>
            </div>
            <input type="text" class="form-control" placeholder="Pesquisar" ng-model="buscarUsuario" focus>
        </div>
    </form>
    <div class="table-responsive">
        <div class="header">Lista de Todos Usuários Cadastrados (tabela1)</div>
        <table class="table table-bordered table-hover table-light" ng-init="buscaRegistro()">
            <thead>
            <tr>
                <td>
                    <a href="#" ng-click="tipoDeOrdem = 'id'; ordemReversa = !ordemReversa">
                        #
                        <span ng-show="tipoDeOrdem == 'id' && !ordemReversa" class="zmdi zmdi-caret-down"></span>
                        <span ng-show="tipoDeOrdem == 'id' && ordemReversa" class="zmdi zmdi-caret-up"></span>
                    </a>
                </td>
                <td>
                    <a href="#" ng-click="tipoDeOrdem = 'nome'; ordemReversa = !ordemReversa">
                        Nome
                        <span ng-show="tipoDeOrdem == 'nome' && !ordemReversa" class="zmdi zmdi-caret-down"></span>
                        <span ng-show="tipoDeOrdem == 'nome' && ordemReversa" class="zmdi zmdi-caret-up"></span>
                    </a>
                </td>
                <td>
                    <a href="#" ng-click="tipoDeOrdem = 'email'; ordemReversa = !ordemReversa">
                        Email
                        <span ng-show="tipoDeOrdem == 'email' && !ordemReversa" class="zmdi zmdi-caret-down"></span>
                        <span ng-show="tipoDeOrdem == 'email' && ordemReversa" class="zmdi zmdi-caret-up"></span>
                    </a>
                </td>
                <td>
                    <a href="#" ng-click="tipoDeOrdem = 'senha'; ordemReversa = !ordemReversa">
                        Senha
                        <span ng-show="tipoDeOrdem == 'senha' && !ordemReversa" class="zmdi zmdi-caret-down"></span>
                        <span ng-show="tipoDeOrdem == 'senha' && ordemReversa" class="zmdi zmdi-caret-up"></span>
                    </a>
                </td>
                <td>
                    <a href="#" ng-click="tipoDeOrdem = 'ultima_alteracao'; ordemReversa = !ordemReversa">
                        Última Alteração
                        <span ng-show="tipoDeOrdem == 'ultima_alteracao' && !ordemReversa" class="zmdi zmdi-caret-down"></span>
                        <span ng-show="tipoDeOrdem == 'ultima_alteracao' && ordemReversa" class="zmdi zmdi-caret-up"></span>
                    </a>
                </td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="usuario in usuario | orderBy:tipoDeOrdem:ordemReversa | filter:buscarUsuario">
                <td>{{usuario.id}}</td> <!-- {{$index + 1}} -->
                <td>{{usuario.nome}}</td>
                <td>{{usuario.email}}</td>
                <td>{{usuario.senha}}</td>
                <td>{{usuario.ultima_alteracao}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<script src="frontend/assets/js/lib/jquery.waypoints.min.js"></script>
<script src="frontend/assets/js/index-jquery.js"></script>