<div class="container" ng-init="buscaRegistro()"  data-animate-effect="fadeInRight">
    <div class="row">
        <div class="panel panel-default users-content">
            <table class="table table-striped">
                <tr>
                    <th width="5%">#</th>
                    <th width="20%">Nome</th>
                    <th width="30%">Email</th>
                    <th width="20%">Senha</th>
                    <th width="16%">Cadastrado em</th>
                    <th width="8%"></th>
                </tr>
                <tr ng-repeat="user in users | orderBy:'-criado'">
                    <td>{{$index + 1}}</td>
                    <td>{{user.nome}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.senha}}</td>
                    <td>{{user.criado}}</td>
                    <td>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>